button.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-white);
  transition: all ease 0.2s;
  border-radius: var(--mantine-radius-sm);
  margin-bottom: 2px;

  &:hover {
    transition: all ease 0.2s;
  }

  &[data-active] {
    background-color: var(--mantine-color-white);
    color: var(--mantine-primary-color-filled);

    &:hover {
      background-color: var(--mantine-color-white);
      color: var(--mantine-primary-color-filled);
    }

    &[data-mini="true"] {
      width: 67px;
    }
  }

  &[data-mini="true"] {
    text-align: center;
  }
}

.link {
  font-weight: 400;
  display: block;
  text-decoration: none;
  padding: 4px 10px 2px 40px;
  // font-size: 14px;
  transition: all ease 0.2s;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  color: rgba(255, 255, 255, 0.85);

  &:hover {
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--mantine-color-white);
  }

  &[data-active] {
    background-color: rgba(255, 255, 255, 0.12);
    color: var(--mantine-color-white);
    font-weight: 500;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}

.chevron {
  transition: transform 200ms ease;
}

// Theme overrides
html[data-mantine-color-scheme="light"] {
  .control {
    color: var(--mantine-color-white);

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
      color: var(--mantine-color-white);
    }

    &[data-active],
    &[data-active]:hover {
      background-color: var(--mantine-color-white);
      color: var(--mantine-primary-color-filled);
    }
  }

  .link {
    color: rgba(255, 255, 255, 0.85);

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: var(--mantine-color-white);
    }

    &[data-active],
    &[data-active]:hover {
      background-color: rgba(255, 255, 255, 0.15);
      color: var(--mantine-color-white);
    }
  }
}

html[data-mantine-color-scheme="dark"] {
  .control {
    color: var(--mantine-color-white);

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: var(--mantine-color-white);
    }

    &[data-active],
    &[data-active]:hover {
      background-color: var(--mantine-color-dark-4);
      color: var(--mantine-primary-color-light-color);
    }
  }

  .link {
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      background-color: var(--mantine-color-dark-5);
      color: var(--mantine-color-white);
    }

    &[data-active],
    &[data-active]:hover {
      background-color: var(--mantine-primary-color-filled);
      color: var(--mantine-color-white);
    }
  }
}