button.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-white);
  transition: all ease 0.2s;

  &:hover {
    transition: all ease 0.2s;
  }

  &[data-active] {
    background-color: var(--mantine-color-white);
    color: var(--mantine-primary-color-filled);

    &:hover {
      background-color: var(--mantine-color-white);
      color: var(--mantine-primary-color-filled);
    }

    &[data-mini="true"] {
      width: 67px;
    }
  }

  &[data-mini="true"] {
    text-align: center;
  }
}

.link {
  font-weight: 500 ;
  display: block ;
  padding: 50px ;
  text-decoration: none;
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-md);
  margin-left: var(--mantine-spacing-xl) ;
  font-size: var(--mantine-font-size-sm) ;
  border-left: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)) !important ;
  transition: all ease 0.2s;

  &:hover {
    transition: all ease 0.2s;
  }

  &[data-active] {
    background-color: var(--mantine-primary-color-filled-hover);
    color: var(--mantine-color-white);

    &:hover {
      background-color: var(--mantine-primary-color-filled-hover);
      color: var(--mantine-color-white);
    }
  }
}

.chevron {
  transition: transform 200ms ease;
}

// Theme overrides
html[data-mantine-color-scheme="light"] {
  .control {
    color: var(--mantine-color-white);

    &:hover {
      background-color: var(--mantine-color-gray-5);
      color: var(--mantine-primary-color-filled);
    }

    &[data-active],
    &[data-active]:hover {
      background-color: var(--mantine-color-gray-5);
      color: var(--mantine-primary-color-filled);
    }
  }

  .link {
    color: var(--mantine-color-white);
    border-left-color: var(--mantine-color-gray-3);

    &:hover {
      background-color: var(--mantine-color-white);
      color: var(--mantine-primary-color-filled);
    }

    &[data-active],
    &[data-active]:hover {
      background-color: var(--mantine-primary-color-filled-hover);
      color: var(--mantine-color-white);
    }
  }
}

html[data-mantine-color-scheme="dark"] {
  .control {
    color: var(--mantine-color-white);

    &:hover {
      background-color: var(--mantine-color-gray-5);
      color: var(--mantine-primary-color-light-color);
    }

    &[data-active],
    &[data-active]:hover {
      background-color: var(--mantine-color-gray-5);
      color: var(--mantine-primary-color-light-color);
    }
  }

  .link {
    color: var(--mantine-color-white);
    border-left-color: var(--mantine-color-dark-4);

    &:hover {
      background-color: var(--mantine-color-black);
      color: var(--mantine-primary-color-light-color);
    }

    &[data-active],
    &[data-active]:hover {
      background-color: var(--mantine-primary-color-light-hover);
      color: var(--mantine-color-black);
    }
  }
}
