.hero {
  background-color: var(--mantine-color-black);
  color: var(--mantine-color-white);
  padding: calc(var(--mantine-spacing-xl) * 2);
  @media (max-width: 768px) {
    padding-top: var(--mantine-spacing-xl);
  }
  .title {
    font-weight: 800;
    font-size: 40px;
    color: var(--mantine-color-white);
    letter-spacing: -1px;
    margin-bottom: var(--mantine-spacing-xs);

    @media (max-width: 768px) {
      font-size: 28px;
      text-align: left;
    }
  }
  .highlight {
    color: var(--mantine-primary-color-filled);
  }
}

.stackControl {
  text-transform: capitalize;
  background-color: var(--mantine-color-dark-6);
  color: var(--mantine-color-white);
  padding: 6px 10px;
  border-radius: var(--mantine-radius-md);
}

.variantImg {
  max-height: 4480px;
  width: 100%;
  object-fit: contain;
}

.variantTitle {
  text-align: center;
  margin-top: var(--mantine-spacing-md);
  font-weight: 600;
}

.paper {
  height: 100%;
  background-color: transparent;
}

.contactPaper {
  background-color: transparent;
  text-align: center;

  .contactBtn {
    background-color: var(--mantine-color-blue-4);
    color: var(--mantine-color-white);
    padding: 10px 20px;
    border-radius: var(--mantine-radius-md);
    font-weight: 600;
    font-size: var(--mantine-font-size-sm);
    text-transform: capitalize;
    transition: all ease 200ms;

    &:hover {
      background-color: var(--mantine-color-blue-5);
      color: var(--mantine-color-white);
      transform: scale(1.02);
    }
  }
}

.paperImage {
  height: 100%;
  background-color: transparent;
  transition: all ease 200ms;
  .paperTitle {
    font-weight: 600;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: var(--mantine-font-size-lg);
    margin-bottom: var(--mantine-spacing-xs);
    }
  .paperText {
    color: var(--mantine-color-gray-6);
  }
}
