// === Mixins ===

@mixin light-card {
  background-color: var(--mantine-color-gray-0);
  color: var(--mantine-color-black);
}

@mixin dark-card {
  background-color: var(--mantine-color-dark-7);
  color: var(--mantine-color-white);
}

@mixin light-link {
  color: var(--mantine-color-error-1);
}

@mixin dark-link {
  color: var(--mantine-color-black);
}

@mixin hover-link {
  color: var(--mantine-color-white);
  text-decoration: none !important;
  transition: all ease 150ms !important;
}

@mixin hover-link-light {
  background-color: var(--mantine-color-gray-2);
}

@mixin hover-link-dark {
  background-color: var(--mantine-color-gray-8);
}

// === Styles ===

.card {
  width: 420px;
  margin-top: 15px;
  padding: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-sm);
  box-shadow: var(--mantine-shadow-xl);
  border: 1px solid var(--mantine-color-gray-3);

  &.mantine-card {
    @include light-card;
    @include dark-card;
  }
  @media (max-width: 640px) {
    width: 360px;
  }
}
.link {
  padding: 6px !important;
  border-radius: var(--mantine-radius-default);
  color: var(--mantine-color-black);
  font-weight: 500;

  &.mantine-Text-root {
    @include light-link;
    @include dark-link;
  }
  &:hover {
    @include hover-link;
    @include hover-link-light;
    @include hover-link-dark;
  }
}
