// === Mixins ===

@mixin light-card {
  background-color: var(--mantine-color-gray-0);
  color: var(--mantine-color-black);
}

@mixin dark-card {
  background-color: var(--mantine-color-dark-7);
  color: var(--mantine-color-white);
}

@mixin light-link {
  color: var(--mantine-color-black);
}

@mixin dark-link {
  color: var(--mantine-color-white);
}

@mixin hover-link {
  background-color: light-dark(
    var(--mantine-color-dark-5),
    var(--mantine-color-gray-2)
  );
  text-decoration: none;
  transition: all ease 150ms;
}

@mixin hover-link-light {
  background-color: var(--mantine-color-gray-2);
}

@mixin hover-link-dark {
  background-color: var(--mantine-color-dark-4);
}

@mixin light-label {
  color: var(--mantine-color-black);
}

@mixin dark-label {
  color: var(--mantine-color-white);
}

// === Styles ===

.card {
  width: 420px;
  margin-top: 15px;
  padding: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-default);
  box-shadow: var(--mantine-shadow-xl);
  border: 1px solid var(--mantine-color-gray-3);

  @include light-card;
  @include dark-card;

  @media (max-width: 365px) {
    width: 360px;
  }
}

button.link {
  padding: 6px 10px;
  border-radius: var(--mantine-radius-default);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-error-1));
  font-weight: 500;

  @include light-link;
  @include dark-link;
  @include hover-link;
  @include hover-link-light;
  @include hover-link-dark;
}

.label {
  @include light-label;
  @include dark-label;
}
