.root {
  padding: 0;
}

.value {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

.diff {
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.icon {
  @mixin dark {
    color: var(--mantine-color-dark-3);
  }

  @mixin light {
    color: var(--mantine-color-gray-4);
  }
}

.title {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
}